h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin: 10px 0 0 40px;
}

header {
  width: 100%;
  height: 120px;
  background: indianred;
  float: left;
  padding: 20px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

input {
  width: 160px;
  margin: 20px 0 0 40px;
  border-radius: 5px;
  font-size: 16px;
}

select {
  width: 260px;
  margin-left: 20px;
  font-size: 18px;
}

button {
  width: 60px;
  height: 30px;
  margin-left: 20px;
  border-radius: 5px;
}

